<!DOCTYPE html>
<html lang="en">
  <head>
    <link href='http://fonts.googleapis.com/css?family=Russo+One' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Play:700' rel='stylesheet' type='text/css'>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Operation Umbra</title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %> 

    <script id="home-template" type="text/x-handlebars-template">
      <div id="wrapper">
        <p>Please use the menu above to create a new game or join an existing one in our lobby.</p>
      </div>
    </script>

    <script id="create-template" type="text/x-handlebars-template">
      <div id="wrapper">
        <h3>Create Game</h3>
        <form>
          <label>Agency Name</label>
          <input id="agency_name_input" placeholder='Agency Name'>
          <br />
          <br />
          <label>Difficulty From 1 - 7</label>
          <input id="end_difficulty_input" placeholder='Difficulty (1-7)'><br />
          <div id="button_left">
            <button id="create_game_submit">Enlist</button>
          </div>
        </form>
      </div>
    </script>

    <script id="join-template" type="text/x-handlebars-template">
      <div id="wrapper">
        <h3>Lobby</h3>
        <table>
          <thead>
            <th>Game ID</th>
            <th>Agency Name</th>
            <th>Security Level</th>
            <th></th>
          </thead>
          <tbody>
            {{#each lobby}}
              <tr>
                <td>{{id}}</td>
                <td>{{name}}</td>
                <td>{{max_difficulty}}</td>
                <td><button class="join_game_button">Join Game</button></td>
              </tr>
            {{/each}}
          </tbody>
        </table>
      </div>
    </script>

    <%# start page for admin of game %>
    <script id="admin-start-template" type="text/x-handlebars-template">
      <div id="wrapper">
        <h3>Start Game</h3>
        <div id="current_game">

        </div>
        <div id="button_left">
          <button id="start_game_button">Start</button>
        </div>
        <div id="button_right">
          <button id="disband_game_button">Disband</button>
        </div>
      </div>
    </script>

    <%# start page for player of game %>
    <script id="player-start-template" type="text/x-handlebars-template">
      <div id="wrapper">
        <h3>Please wait for the game to begin.</h3>
        <div id="current_game">

        </div>
        <div id="button_left">
          <button id="leave_game_button">Leave Game</button>
        </div>
      </div>
    </script>

    <%#start page for sneaky people that like to enter routes they know they shouldn't enter %>
    <script id="nobody-start-template" type="text/x-handlebars-template">
      <div id="wrapper">
        <h3>You are not in a game</h3>
        <div id="current_game">

        </div>
        <div id="button_left">
          <button id="return_lobby_button">Return to Lobby</button><br />
        </div>
        <div id="button_right">
          <button id="return_create_button">Create a New Game</button>
        </div>
      </div>
    </script>

    <script id="game-started-template" type="text/x-handlebars-template">
      <div id="wrapper">
        <h3>The game is in progress.</h3>
        <p>Click below to return to your current game.</p>
        <div id="current_game">

        </div>
        <div id="button_left">
          <button id="current_game_button">My Current Game</button>
        </div>
      </div>
    </script>

    <script id="handler-template" type="text/x-handlebars-template">
      <div id="wrapper">
        <h3>Handler:</h3>
        <h5>"Review your Agent's mission and proof."</h5>
        <h5>Accept or reject your Agents mission.</h5>
        <div id="button_left">
          <button id="handler_accept_button">Accept Mission</button>
        </div>
        <div id="button_right">
          <button id="handler_reject_button">Reject Mission</button>
        </div>
      </div>
    </script>

    <script id="mission-accepted-template" type="text/x-handlebars-template">
      <div id="wrapper">
        <h3>Mission Debriefed</h3>
        <p>Are you done with <strong>YOURS</strong> yet?</p>
      </div>
    </script>

    <script id="final-current-template" type="text/x-handlebars-template">
      <div id="wrapper">
        <h3>Handler:</h3>
        <h4>Accept or reject your Agents mission.</h4>
        {{each mission}}
          <p><strong>{{mission.user_name}}</strong></p>
        <div id="button_left">
          <button id="handler_accept_button">Accept Mission</button>
        </div>
        <div id="button_right">
          <button id="handler_reject_button">Reject Mission</button>
        </div>
        {{/each}}
      </div>
    </script>

    <script id="menu-template" type="text/x-handlebars-template">
      <div id="wrapper">
        <h3>Menu</h3>
          <% if user_signed_in? %>
          <a href="#current">Current Game</a><br /><br />
          <p>My current game.</p>
         
          <a href="#start">Waiting Room</a><br /><br />
          <p>Admins: Start a game. Players: Wait for a game to start.</p>
          
          <a href="#pastGames">Past Games</a><br /><br />
          <p>Games played previously.</p>
          
          <a href="/users/sign_out" data-method="delete" rel="nofollow">Sign Out</a>
        <% end %>
      </div>
    </script>

    <script id="myGames-template" type="text/x-handlebars-template">
      <div id="wrapper">
        <h3>My Games</h3>
      </div>
    </script>

    <script id="pastGames-template" type="text/x-handlebars-template">
      <div id="wrapper">
        <h3>Past Games</h3>
        <p>Coming soon.</p>
      </div>
    </script>

  </head>

  <body>
    <nav>
      <% if user_signed_in? %>
        <a href="#create">Create</a>
        <a href="#lobby">Lobby</a>
        <a href="#menu">Menu</a>
      <% else %>
        <a href="/users/sign_up">Sign Up</a><br />
        <a href="/users/sign_in">Sign In</a><br />
      <% end %>
    </nav>

    <h1 id="operation">OPERATION </h1>
    <h1 id="umbra">=UMBRA=</h1>

    <div id="state_frame">

      <%= yield %>

    </div>

    <%= javascript_include_tag "application" %>
  </body>
</html>