<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Operation Umbra</title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %> 

    <script id="create-template" type="text/x-handlebars-template">
      <div id="wrapper">
        <h3>Create Game</h3>
        <form>
          <input id="agency_name_input" placeholder='Agency Name'><br />
          <input id="end_difficulty_input" placeholder='Difficulty (1-7)'><br />
          <button id="create_game_submit">Enlist</button>
        </form>
      </div>
    </script>

    <script id="join-template" type="text/x-handlebars-template">
      <div id="wrapper">
         <div id="wrapper">
          <h3>Lobby</h3>
          <table>
            <thead>
              <th>Game ID</th>
              <th>Agency Name</th>
              <th>Security Level</th>
              <th>Enlisted Agents</th>
              <th>Game Creator</th>
              <th></th>
            </thead>
            <tbody>
              {{#each lobby}}
                <tr>
                  <td>{{id}}</td>
                  <td>{{name}}</td>
                  <td>{{max_difficulty}}</td>
                  <td></td>
                  <td></td>
                  <td><button class="join_game_button">Join Game</button></td>
                </tr>
              {{/each}}
            </tbody>
          </table>
        </div>
      </div>
    </script>

    <script id="start-template" type="text/x-handlebars-template">
      <div id="wrapper">
        <h3>Start Game</h3>
        <div id="current_game">

        </div>
        <button id="start_game_button">Start</button><br />
        <button id="disband_game_button">Disband</button>
      </div>
    </script>

    <script id="current-template" type="text/x-handlebars-template">
      <div id="wrapper">
        <h3>Current</h3>
      </div>
    </script>

    <script id="menu-template" type="text/x-handlebars-template">
      <div id="wrapper">
        <h3>Menu</h3>
        <% if !current_user %>
          <a href="/users/sign_up">Sign Up</a><br />
          <a href="/users/sign_in">Sign In</a><br />
        <% end %>
        <a href="#start">Start</a><br />
        <a href="#current">Current</a><br />
        <a href="#myGames">My Game</a><br />
        <a href="#pastGames">Past Game</a>
      </div>
    </script>

    <script id="myGames-template" type="text/x-handlebars-template">
      <div id="wrapper">
        <h3>My Games</h3>
      </div>
    </script>

    <script id="pastGames-template" type="text/x-handlebars-template">
      <div id="wrapper">
        <h3>Past Games</h3>
      </div>
    </script>

  </head>

  <body>
    <nav>
      <a href="#create">Create</a>
      <a href="#lobby">Lobby</a>
      <a href="#menu">Menu</a>
    </nav>

    <h1>Operation Umbra</h1>

    <div id="state_frame">

      <%= yield %>

    </div>

    <%= javascript_include_tag "application" %>
  </body>
</html>