<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "foundation-rails" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>

    <script id="create-template" type="text/x-handlebars-template">
      <div id="wrapper">
        <h3>Create</h3>
        <form method="POST" action="create" onSubmit="false">
          <input id="agency_name_input" placeholder='Agency Name'><br />
          <input id="end_difficulty_input" placeholder='Difficulty (1-7)'><br />
          <button id="create_game_submit">Enlist</button>
        </form>
      </div>
    </script>

<script id="join-template" type="text/x-handlebars-template">
  <div id="wrapper">
    <h3>Join</h3>
  </div>
</script>

<script id="start-template" type="text/x-handlebars-template">
  <div id="wrapper">
    <h3>Start</h3>
  </div>
</script>

<script id="current-template" type="text/x-handlebars-template">
  <div id="wrapper">
    <h3>Current</h3>
  </div>
</script>

<script id="menu-template" type="text/x-handlebars-template">
  <div id="wrapper">
    <h3>Menu</h3>
    <a href="#start">Start</a><br />
    <a href="#current">Current</a><br />
    <a href="#myGames">My Game</a><br />
    <a href="#pastGames">Past Game</a>
  </div>
</script>

<script id="myGames-template" type="text/x-handlebars-template">
  <div id="wrapper">
    <h3>My Games</h3>
  </div>
</script>

<script id="pastGames-template" type="text/x-handlebars-template">
  <div id="wrapper">
    <h3>Past Games</h3>
  </div>
</script>

  </head>

  <body>
    <nav>
      <a href="#create">Create</a>
      <a href="#join">Join</a>
      <a href="#menu">Menu</a>
    </nav>

    <h1>Operation Umbra</h1>

    <div id="state_frame">

      <%= yield %>

    </div>

    <%= javascript_include_tag "application" %>
  </body>
</html>